.botoes {
  text-align: center;
  margin-top: 50px;
}

.tabela {
  margin-top: 50px;
  text-align: center;
}

.container {
  margin-top: 50px;
  background: #87cefa;
  border-radius: 6px;
}

th {
  background-color: #1f1f92;
  color: #fff;
  border-radius: 6px;
}

tr:nth-child(even) {
  background: #b0c4de;
}

tr:nth-child(odd) {
  background: #f0ffff;
}

.botoes > button {
  margin: 20px;
}

.botoes > strong {
  font-size: 20px;
}
